<!DOCTYPE html>
<html>

<head>
    <title>MoEssam signup page</title>
</head>

<body>
    <form method="POST" action="/signup">
        <input type="text" name='email' placeholder="Email Address">
        <input type="password" name='password' placeholder="Password">
        <input type="text" name='address' placeholder="Address">
        <input type="text" name='name' placeholder="Name">
        <input type="text" name='gender' placeholder="Gender">
        <input type="number" name='phone_number' placeholder="Phone Number">
        <input type="date" name='birthdate' placeholder="Birthdate">
        <input type="submit" value="Sign Up">
    </form>
</body>

</html>